#!/usr/bin/make -f

export JAVA_HOME := /usr/lib/jvm/default-jdk

%:
	dh --buildsystem=autoconf $@ --with autotools_dev --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr

